<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<!--    <servlet>
        <servlet-name>
            MyServlet
        </servlet-name>
        <servlet-class>
            students.servlets.HelloServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>students.servlets.StudentsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>students.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelStudentServlet</servlet-name>
        <servlet-class>students.servlets.DeleteStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>students.servlets.EditStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>students.servlets.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>students.servlets.RegisterUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/editstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DelStudentServlet</servlet-name>
        <url-pattern>/delstudent</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Login</filter-name>
        <filter-class>students.servlets.filters.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Login</filter-name>
        <url-pattern>/students</url-pattern>
    </filter-mapping>-->
    
<!--    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/bean.xml</param-value>
    </context-param>-->

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
    </context-param>

</web-app>